<h2>Hard & Soft Skills</h2>

<nav>
    <ul>
        
        <li>
            <circle-progress
                [percent]="85" 
                [radius]="100" 
                [outerStrokeWidth]="10" 
                [showUnits]="false"
                [showTitle]="false"
                [imageSrc]="'https://i.imgur.com/ZFr1i4M.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#E54C21'"
                [innerStrokeColor]="'#E54C21'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </li>
        
        <li>
            <circle-progress
                [percent]="85" 
                [radius]="100" 
                [outerStrokeWidth]="10" 
                [showUnits]="false"
                [showTitle]="false"
                [imageSrc]="'https://i.imgur.com/OannO0W.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#264DE4'"
                [innerStrokeColor]="'#264DE4'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </li>
        <li>
            <circle-progress
                [percent]="85" 
                [radius]="100" 
                [outerStrokeWidth]="10" 
                [showUnits]="false"
                [showTitle]="false"
                [imageSrc]="'https://i.imgur.com/ZFr1i4M.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#E54C21'"
                [innerStrokeColor]="'#E54C21'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </li>
        
        <li>
            <circle-progress
                [percent]="85" 
                [radius]="100" 
                [outerStrokeWidth]="10" 
                [showUnits]="false"
                [showTitle]="false"
                [imageSrc]="'https://i.imgur.com/OannO0W.png'"
                [imageHeight]="100"
                [imageWidth]="100"
                [showImage]="true"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#264DE4'"
                [innerStrokeColor]="'#264DE4'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </li>

    </ul>
</nav>