<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado de estudiantes</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#"> Control de estudiantes</a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/estudiantes}">Control de estudiantes</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row">
                <h1>Lista de estudiantes</h1>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <a th:href="@{/estudiantes/nuevo}" class="btn btn-primary mb-2">
                        Agregar nuevo
                    </a>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Email</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody th:each="estudiante: ${estudiantes}">
                    <tr>
                        <th scope="row" th:text="${estudiante.nombre}"></th>
                        <td th:text="${estudiante.apellido}"></td>
                        <td th:text="${estudiante.email}"></td>
                        <td>
                            <a class="btn btn-info" th:href="@{/estudiantes/editar/{id}(id=${estudiante.id})}">
                                Editar
                            </a>
                            
                            <a class="btn btn-danger" th:href="@{/estudiantes/{id}(id=${estudiante.id})}">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </body>
</html>
