<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <h1 th:text="${titulo}" class="color-rojo"></h1>
    <h2 class="color-azul">Decorando con estilos css recursos estáticos.</h2>
    <img th:src="@{/images/foto.jpg}">
</body>
</html>