<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${titulo}"></title>
</head>

<body>
	<h1 th:text="${titulo}"></h1>
	<ul>
		<li><a th:href="@{/variables/string/} + 'Hola Leandro'">/variables/string/Hola Leandro</a></li>
		<li><a th:href="@{/variables/string/} + 'Qué tal John?'">/variables/string/Qué tal John?</a></li>
		<li><a th:href="@{/variables/string/} + 'Hola Leandro' + '/' + 7">/variables/string/Hola Leandro/7</a></li>
	</ul>
</body>

</html>