
<h2>Proyectos</h2>

<article>

    <h3>Testing de software en MercadoLibre</h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, rem unde aliquid ad labore doloribus. Id
        reprehenderit molestias rerum praesentium animi nisi et ea quod ipsam aperiam. Aut, ut expedita!
    </p>

    <a href="#" class="contact-btn">
        <i class="fa-solid fa-share"></i> Ver demo del proyecto
    </a>
</article>
<article>

    <h3>Testing de software en MercadoLibre</h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, rem unde aliquid ad labore doloribus. Id
        reprehenderit molestias rerum praesentium animi nisi et ea quod ipsam aperiam. Aut, ut expedita!
    </p>

    <a href="#" class="contact-btn">
        <i class="fa-solid fa-share"></i> Ver demo del proyecto
    </a>
</article>
<article>

    <h3>Testing de software en MercadoLibre</h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, rem unde aliquid ad labore doloribus. Id
        reprehenderit molestias rerum praesentium animi nisi et ea quod ipsam aperiam. Aut, ut expedita!
    </p>

    <a href="#" class="contact-btn">
        <i class="fa-solid fa-share"></i> Ver demo del proyecto
    </a>
</article>