<header>
    <nav>
        <ul>
            <li class="logo">
                <img src="../../../assets/img/APLogo.png" alt="">
            </li>
            <li>
                <a href="#">
                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-brands fa-square-github"></i>
                </a>
            </li>
            <li>
                <a href="#" style="margin-right: .5em;">
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>