<div class="row">
    <h3>Proyectos realizados por mi</h3>
    <div>
        <div class="col-sm-12 col-md-7 col-lg-7  parte1">
            <h4>Encriptador</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta eos quasi exercitationem vitae porro
                doloribus commodi vel, ullam nam nobis id impedit, velit nemo deserunt culpa, sequi ea inventore.
                Laboriosam.</p>
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/9833/9833129.png" alt="" width="50">
        </div>
    </div>
    <div>
        <div class="col-sm-12 col-md-7 col-lg-7  parte1">
            <h4>Control remoto</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta eos quasi exercitationem vitae porro
                doloribus commodi vel, ullam nam nobis id impedit, velit nemo deserunt culpa, sequi ea inventore.
                Laboriosam.</p>
        </div>
        <div>
            <img src="https://cdn-icons-png.flaticon.com/512/609/609841.png" alt="" width="50">
        </div>
    </div>
</div>