<div class="card bg-dark text-white mt-2">
    <div style="width: 20%; margin-top: 1em; margin-left: 1em;">
        <button class="btn btn-info" role="button" routerLink="/">Volver</button>
    </div>
    <div class="card-header">
        {{titulo}}
    </div>

    <div class="card-body mt-2">

        <form>

            <div class="form-group row mb-2">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">

                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required
                        minlength="4" #nombre="ngModel">

                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required
                        minlength="4">
                </div>
            </div>

            <div class="form-group row mb-2">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required>
                </div>
            </div>

            
            <div class="form-group row mb-2">
                <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [(ngModel)]="cliente.createAt" name="fecha" required
                        minlength="4">
                </div>
            </div>



            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!cliente.id">Crear</button>
                    <button class="btn btn-primary" role="button" (click)="update()" *ngIf="cliente.id">Editar</button>
                </div>
            </div>


        </form>

    </div>

</div>