<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <img src="../../../assets/img/perfil.jpeg" alt="Foto de perfil" class="img-fluid foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
        <h2>{{persona.nombre}}, {{persona.apellido}}</h2>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div>
        <h3>Acerca de mí</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti fugiat nesciunt ducimus aut accusantium
            dolorem quia rerum, soluta, officia libero sed debitis doloribus tempore a mollitia voluptas praesentium
            numquam eveniet?</p>
    </div>
</div>