<div class="row">
    <h3>Educación</h3>
    <div class="col-lg-11">
        <ul>
            <li>
                <h4>Educación 1 - 2004</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente laborum praesentium qui a
                    voluptatum suscipit nobis nemo earum vel ipsam incidunt unde aliquid non hic eius quae, corporis
                    tenetur.</p>
            </li>
            <li>
                <h4>Educación 2 - 2010</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente laborum praesentium qui a
                    voluptatum suscipit nobis nemo earum vel ipsam incidunt unde aliquid non hic eius quae, corporis
                    tenetur.</p>
            </li>
            <li>
                <h4>Educación 3 - 2015</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sapiente laborum praesentium qui a
                    voluptatum suscipit nobis nemo earum vel ipsam incidunt unde aliquid non hic eius quae, corporis
                    tenetur.</p>
            </li>
        </ul>
    </div>
</div>