<h2>Educación</h2>
<article>
    <img src="https://i.imgur.com/3B9b7cC.png" alt="">
    <h3>IBM - Desarrollo de software</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate itaque corporis voluptatem soluta est. Aliquid
        esse numquam porro neque dolorum ad consequuntur id repellat delectus, iusto consectetur, omnis modi ducimus!
    </p>
</article>
<article>
    <img src="https://i.imgur.com/AGVibFR.jpg" alt="">
    <h3>Microsoft - Desarrollo de software</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate itaque corporis voluptatem soluta est. Aliquid
        esse numquam porro neque dolorum ad consequuntur id repellat delectus, iusto consectetur, omnis modi ducimus!
    </p>
</article>
<article>
    <img src="https://i.imgur.com/3B9b7cC.png" alt="">
    <h3>IBM - Desarrollo de software</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate itaque corporis voluptatem soluta est. Aliquid
        esse numquam porro neque dolorum ad consequuntur id repellat delectus, iusto consectetur, omnis modi ducimus!
    </p>
</article>